@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

//Root Variables-$
$primary-bg-color:rgb(92, 84, 112);
$secondary-bg-color:rgb(53, 47, 68);
$primary-color:rgb(250, 240, 230);
$secondary-color:rgb(185, 180, 199);
$primary-font-01: "Barlow",sans-serif;
$primary-font-02: "Barlow Condensed",sans-serif;
$color-opacity: 0.7;

//Universal styling
html
{
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
}

body
{
    background:$primary-bg-color;
    font-family: $primary-font-01;
}

.card
{   
    margin: 2em 0;
    color: rgb(100, 100, 100);
    min-height: auto;
    max-width: 100%;
    background-color: $primary-color;
    background-attachment: fixed;
    box-shadow: 10px 10px $secondary-color;
    padding: 1em;
    border-radius: 10px;
}
//Components Based

//NavBar component
nav
{
    .menu
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 5%;
        letter-spacing: 2px;
        opacity: $color-opacity;

        .logo
        {
            background-color: white;
            color: $primary-bg-color;
            padding: 0.5%;
            border-radius: 2px;
            font-size: 1.15em;
            font-weight: 500;
        }

        .menu-items
        {
            color: white;

            .link
            {
                margin-right: 30px;
            }
        }
    }

}
//Profile Component
.profile-container
{
    background-image: url("https://live.staticflickr.com/8105/8652674122_a469e97354_h.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 1em;
    
    h1
    {
        letter-spacing: 4px;
        background-color: white;
        color: $secondary-bg-color;
        opacity: $color-opacity;
        padding: 0.2em 0.6em;
        border-radius: 3px;
    }


}

//About Component
.about-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgb(255, 255, 255, $color-opacity);
    padding: 0;
    margin: 0 5%;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-variant: small-caps;

    & > h2
    {
        background-color: rgb(250, 240, 230, $color-opacity);
        color: $primary-bg-color;
        padding: 5px;
        border-radius: 3px;
        margin: 2% 0;
    }
}

//Info Component
.info
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .details-container
    {
        position: absolute;
        margin:0em 9em 3em 0em;
    }

    .icons-container
    {
        position: absolute;
        margin: 10em 0em 0em 10em;
        svg
        {
            font-size: 2rem;
            padding:10px;
        }

    }
}

//Small Cards Component
.mini-cards-container
{
    display: flex;
    gap: 2rem;
    margin:10px;
    .mini-cards
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 3em;
        border-radius: 5px;
        height: 250px;
        width: 200px;
        background-color: rgb(255, 255, 255, $color-opacity);

        p
        {
            margin-top: 20px;
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 480px) {
    .mini-cards-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15em;
    }
  }

.fix
{
    min-height: 20em;
}
.education-courses
{
    display: grid;
    min-width: 97%;
    grid-template-columns: repeat(2,2fr);
    gap:2em; 
    align-items: center;
    justify-self: center;

    @for $i from 2 to 8 {
    .Education > div:nth-child(#{$i})
    {
        margin-top: 10px;
    }
    
    .courses > div:nth-child(#{$i})
    {
        margin-top: 10px;
    }
}
}
@media only screen and (max-width: 480px) {
    .education-courses
    {
        grid-template-rows: repeat(2,2fr);
        grid-template-columns: none;
        gap:0;
    }
}
.border
{
    position: relative;
    margin: 5px 0 0 3px;
    width: 5em;
    height: 5px;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    border-radius: 10px;
}

//Projects Component
.projects-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    & > h2
    {
        background-color: rgb(250, 240, 230, $color-opacity);
        color: $primary-bg-color;
        padding: 5px;
        border-radius: 3px;
        margin: 2% 0;
        font-variant: small-caps;
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    
    .n2r-card
    {
        position: sticky;
        font-variant: small-caps;
        min-width: 50em;

        & > img
        {
            height: 30em;
            border-radius: 5px;
        }
    }
    .pfa-card
    {
        position: sticky;
        font-variant: small-caps;
        min-width: 50em;

        & > img
        {
            height: 30em;
            border-radius: 5px;
        }
    }
    p,svg
    {
        font-size: 1.2em;
        margin:5px;
    }
}